@model DisasterAlleviation.Models.WalletModel
<style>
    a:hover {
        color: orange;
    }

    a {
        color: white;
    }
</style>
<h4>Wallet Balance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Fund">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" type="number" min="1" required />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Fund Now" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}