@using DisasterAlleviation.Users;
@using DisasterAlleviation.Wallet;

<ul class="navbar-nav">
    @if (UserFunctions.Logged())
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Wallet" asp-action="Create">My Wallet: R @WalletFunctions.GetWallet()</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" style="color: orange;">Hello, @UserFunctions.LoginUser()!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Logout" asp-action="Index" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark" style="color: purple;">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Index" style="color: white;">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index" style="color: white;">Login</a>
        </li>
    }
</ul>

