@model DisasterAlleviation.Models.DashboardViewModel

<style>
    body {
        background-color: purple;
        font-family: Arial, sans-serif;
    }

    .card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 10px;
    }

    th {
        background-color: orange;
        color: white;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    strong {
        color: black;
    }
</style>

<div class="card">
    <table>
        <thead><tr>
            <th>
                Donation History
            </th>
        </tr>
        </thead>
        <tbody><tr>
            <td>
                Total Monetary Donations: R @ViewBag.TotalMonetaryDonations
            </td>
        </tr>
        <tr>
            <td>
                Total No. Of Goods Donations: @ViewBag.TotalGoodsReceived
            </td>
        </tr>  
        </tbody>
    </table> 
</div>

<div class="card">
    <table>
        <thead><tr>
            <th>
                Currently Active Disasters
            </th>
        </tr>
        </thead>
        <tbody> 
            @foreach (var disaster in ViewBag.ActiveDisasters)
        {
        <tr>
            <td>
                <strong>@disaster.Description</strong>
                <br />
                No. Of Allocated Goods: @disaster.AllocatedGoods
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>
