@model DisasterAlleviation.Models.GoodsCatModel;

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        a:hover {
            color: orange;
        }

        #c {
            accent-color: orange;
        }

        a {
            color: white;
        }

        a, h4, label, span {
            color: white;
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h4>Add New Category</h4>
                <hr />
                <form asp-action="CreateProccess">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <input asp-for="Category" class="form-control" />
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" style="background-color: orange;" value="Add" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            @Html.ActionLink("Back", "Create", "Goods")
        </div>
    </div>

</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
