@model DisasterAlleviation.Models.DonMonetaryModel;

<style>
    a:hover {
        color: orange;
    }

    #c {
        accent-color:orange;
    }
    a{
        color:white;
    }
</style>
<h4>Make a Donation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProccess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DisasterDescription" class="control-label">Pick an Active Disaster</label>
                <br />
                @Html.DropDownList("DisasterID",new SelectList(ViewBag.data,"ID","Description"))
                <span asp-validation-for="DisasterDescription" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Anonymous" id="c" type="checkbox" value="true" />
                <label asp-for="Anonymous" class="control-label"></label>
                <span asp-validation-for="Anonymous" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" style="background-color:orange" value="Donate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}