@{
    ViewData["Title"] = "Home Page";
}

<style>
    p{
        color:white;
    }
</style>

<div class="text-center">
    <h3 class="display-4" style="color: white">
        About Us </h3>

       <h4> At the Disaster Alleviation Foundation, we are driven by a deep commitment to making a positive impact in the face of adversity. With a rich history of compassion and service, our foundation has been at the forefront of disaster relief efforts for [number of years] years.</h4>

       <h3 class="display-4" style="color: white">
        Our Values </h3>
    <h4>
        Our core values guide every action we take. We believe in:

        Compassion: We empathize with those affected by disasters and extend our hand to offer comfort and support.
        Collaboration: We work closely with communities, partners, and volunteers to maximize our impact.
        Transparency: We uphold the highest standards of accountability, ensuring that your donations reach those who need them most.
        Resilience: We are dedicated to helping communities build resilience in the face of future challenges.
        Our Impact
        Over the years, we have been privileged to assist countless communities during their times of need. Our relief efforts have reached [number of regions] regions, providing critical aid such as clean water, food, shelter, and medical assistance.
    </h4>
    <h3 class="display-4" style="color: white">
    Join us </h3>
    <h4> We invite you to join us in our mission to alleviate suffering and build a better, safer world. Whether through donations, volunteering, or spreading awareness, your support makes a difference.

        Together, we can bring hope and relief to those affected by disasters and work towards a more resilient future
    </h4>
</div>
